
@tailwind base;
@tailwind components;
@tailwind utilities;


/* Global Styles */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family:poppins, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333; /* Black */
  background-color: #f9f9f9; /* Light gray */
}

h1, h2, h3, h4, h5, h6 {
  color: #29AADF; /* Picton Blue */
  font-weight: bold;
  margin-bottom: 10px;
}

p {
  margin-bottom: 20px;
}

a {
  text-decoration: none;
  color: #27ADE2; /* Picton Blue 2 */
}

a:hover {
  color: #55bce6; /* Picton Blue 600 */

}

button {
  background-color: #29AADF; /* Picton Blue */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #55bce6; /* Picton Blue 600 */
}

/* Utility Classes */

.text-primary {
  color: #29AADF; /* Picton Blue */
}

.text-secondary {
  color: #27ADE2; /* Picton Blue 2 */
}

.bg-primary {
  background-color: #29AADF; /* Picton Blue */
}

.bg-secondary {
  background-color: #27ADE2; /* Picton Blue 2 */
}

/* Define the class that applies the animation */
.animate-moving-background {
  /* Apply the animation */
  animation: moving-background 5s infinite;
  /* Add some additional styles if needed */
  background-size: cover;
  background-position: center;
  box-shadow: 200px 100px 20px rgba(0, 0, 0, 0.2)
}

.shadow {
 box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

/* Configure this in Tailwind.config.js */

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.animate-text-slide {
  animation: text-slide 10s infinite;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite; /* Add this property */
}

@keyframes text-slide {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}

.bgImg {
  background:url(assets/footer.png) no-repeat;

}